{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-shop.css') }}">

<!-- Data Tables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- Query -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Data Tables JS -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<style>
    .hover-image-container {
        position: relative;
        display: inline-block;
    }

    .hover-image {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        width: 100px; /* ajusta el tamaño según lo necesites */
        height: auto; /* ajusta el tamaño según lo necesites */
        z-index: 1;
    }

    .hover-image-container:hover .hover-image {
        display: block;
    }
</style>

{% endblock %}

{% block subtitle %} Tienda {% endblock %}

{% block content %}

<div class="container-fluid mt-3" style="width: 95%;">
<div class="row">
    <div class="col-12 col-md-12 col-lg-8 mb-3">
        <div class="container-fluid neo" style="color: black;">
            <div class="row">
                <div class="col m-3">
                    <h1>What do you got in mind?</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://media.admagazine.com/photos/654c8f592dcb51875ef13be5/1:1/w_2250,h_2250,c_limit/flores-moradas.jpg" alt="" srcset="" class="rounded-pill" width="100" height="100">
                            <b><p class="mt-2">Lorem Ipsum</p></b>
                        </div>
                        <div class="col-6">
                            <img src="https://media.admagazine.com/photos/654c8f592dcb51875ef13be5/1:1/w_2250,h_2250,c_limit/flores-moradas.jpg" alt="" srcset="" class="rounded-pill" width="100" height="100">
                            <b><p class="mt-2">Lorem Ipsum</p></b>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 text-center">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://media.admagazine.com/photos/654c8f592dcb51875ef13be5/1:1/w_2250,h_2250,c_limit/flores-moradas.jpg" alt="" srcset="" class="rounded-pill" width="100" height="100">
                            <b><p class="mt-2">Lorem Ipsum</p></b>
                        </div>
                        <div class="col-6">
                            <img src="https://media.admagazine.com/photos/654c8f592dcb51875ef13be5/1:1/w_2250,h_2250,c_limit/flores-moradas.jpg" alt="" srcset="" class="rounded-pill" width="100" height="100">
                            <b><p class="mt-2">Lorem Ipsum</p></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4">
        <div class="container-fluid neo" id="banner-shop-client">
            &nbsp
        </div>
    </div>
</div>

<div class="row mt-2 mb-3">
    <div class="col-12 col-md-12 col-lg-3" style="color: black;">
        <div class="container-fluid neo h-100 p-1">
            <h3 class="p-3">Best Sellers</h3>
        </div>
        <div class="container-fluid neo h-100 p-1" style="margin-top: -50px;">
            <h3 class="p-3">Categories</h3>
        </div>
        <div class="container-fluid neo h-100 p-1" style="margin-top: -50px;">
            <h3 class="p-3">Trending</h3>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-9">
        <div class="container-fluid neo">
                asdsd
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-shop.js') }}"></script>
{% endblock %}